@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";

html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Noto Sans KR", "맑은 고딕", "돋움", Dotum, "Sans-serif", Arial;
  color: $color1;
}

.wrapper {
  width: 100%;
  height: 100%;
}
